* {
  box-sizing: border-box;
}

.Wrapper {
  margin: auto;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.081);
  height: auto;
  display: grid;
  /*Ge hela dokumentet en grid form*/
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns med 1 fraktion */
  grid-template-areas:
        /*Dela sidan i areas för att lättre göra den responsiv*/
    "header header header"
    /* HEADER (3 COL* -> ROWS BLIR AUTO */
    "nav nav nav"
    "content content content"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: rgb(155, 154, 137);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a b"
    "a a c";
}

.header-items__item1 {
  grid-area: a;
  height: 500px;
  position: relative;
}

.header-items__item1--img1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header-items__logo--logo1 {
  position: absolute;
  top: 12em;
  /* Relative to the font-size of the element (2em means 2 times the size of the current font */
  left: 10em;
  width: 12em;
}

.header-items__item2 {
  grid-area: b;
  background-color: #9e6d52;
}

.header-items__item2--img2 {
  padding: 30px;
  width: 300px;
  height: 200px;
}

.header-items__item3 {
  background-color: #0a846e;
  grid-area: c;
}

.header-items__item3--img3 {
  width: 300px;
  height: 200px;
  padding: 30px;
}

nav {
  grid-area: nav;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  list-style-type: none;
  /*ta bort punkterna*/
}

nav ul li {
  padding: 10px;
  gap: 1em;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 0.5em;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  color: green;
}

main {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "a a a a "
    "b b c c "
    "b b c c"
    "d d d d"
    "Y Y Y Y";
}

.sec-1 {
  grid-area: a;
  text-align: center;
}
/**/

.sec-1 h1 {
  color: #0a846e;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.sec-2 {
  grid-area: b;
  display: flex;
  align-content: center;
  align-items: center;
}

.sec-2__cirkel {
  background-color: #0a846e;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  text-align: center;
}

.sec-2__cirkel--icon {
  margin-top: 20px;
}

.sec-3 {
  grid-area: c;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  min-height: 400px;
}

.sec-3 h2 {
  color: #010e0c;
  margin-top: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5me;
  letter-spacing: 2px;
  align-self: flex-start;
}

.sec-3__btn-tips {
  align-self: flex-end;
  background-color: #0a846e;
  color: #fff;
  padding: 0.5em;
  border: none;
  margin-right: 2em;
  border-radius: 0.5rem;
}

.sec-4 {
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "p p p"
    "s s s"
    "l l l"
    "V V V"
    "Z Z Z"
}

.sec-4__line {
  grid-area: p;
  height: 100%;

  > hr {
    width: 50%;
    height: 0.2em;
    background: #0a846e;
  }
}

.sec-4__text {
  grid-area: s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
 
}
.sec-5__container{
  grid-area: l;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  
}
.card{
  width: 200px;
  margin: 20px;
  box-shadow: 0 0 10px #100f0f;
 

}

.card-image{
  height: 300px;
  margin-bottom: 15px;
  background-size: cover;
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gurka-1{
 background-image: url("https://images.unsplash.com/photo-1518568403628-df55701ade9e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.icon_mid{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em; /* Adjust as needed */
  color: white; /* Adjust as needed */

}
.image_infx{
  display: flex;
  flex-wrap: wrap;

}
.corner{
  position: relative;
  margin: 3px;
}
.title{
  flex: 50%;
  font-weight: bold;
   
}
.mini-title{
  flex: 50%; 
  font-family: 'Lato',sans-serif;
  position: relative;
}
.date{

  font-weight: bold;
  padding: 3px;
  text-align: left;


}
.image_infx p{
  font-size: 0.7rem;
  }
.btn-tabort{
text-align: center;
margin: 3px;
width: 80px;
border-radius: 8px;
height: 20px;
border: none;
font-weight: bold;
background-color:  rgba(185, 56, 87, 1);
color: #fff;

 
}
.tomat-1{

  background-image: url(" https://images.unsplash.com/photo-1596199050105-6d5d32222916?q=80&w=2639&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.tomater-1{

  background-image: url("https://images.unsplash.com/photo-1565698228480-eec300c9679b?q=80&w=2806&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.fler{
 grid-area:V;
 display: grid;
 grid-template-columns:repeat(3,1fr);
 grid-template-areas: "F F F";
 margin-top: 4em;
 justify-items: center;
}
.visa-fler{
  grid-area: F;
  height: 3em;
  width: 10em;
  border-radius: 8px;
  background-color: #0a846e;
  color: #fff;
  font-size: 1em;
  font-family:'Open Sans';
  border: none;
}
.Sockerärtor{
  background-image: url("https://images.unsplash.com/photo-1687878269804-63e8b50e3ddc?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.Majrova{
  background-image: url("https://images.unsplash.com/photo-1555447740-03e40562af94?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.Squash{
  background-image: url("https://images.unsplash.com/photo-1627989230968-d0b8e2d1a398?q=80&w=2962&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.Blomma_right{
grid-area: Z;
grid-template-columns: repeat(2, 1fr);
grid-template-areas: 'xt imgx '
                      'bt5 imgx';
display: grid;
height: 350px;
font-family:'Open Sans';
padding: 10px;

}
.intro{
grid-area: xt;
 display: flex;
 flex-direction: column;
}
.intro h2{
  padding: 5px;
  font-family:'Open Sans';
  margin-left: 15px;
}
.intro p{
  margin-left: 15px;
  padding: 15px;
  text-align: justify;
}
.btnx button{
  margin-left: 25px;
  border-radius: 15px;
  height: 40px;
  font-size: 1em;
  border: none;
  background-color: #0a846e;
  color: #fff;

}
.icon_x{
  grid-area: imgx;
  background-color: #0a846e;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  
  
}
.icono{
  position: absolute;
}
